{% extends 'base.html'%}
{% block container %}
{% include '_header.html' %}
    <div class="jumbotron">
        <h1>Welcome Home!</h1>
        {% if get_flashed_messages() %}
            {% for e in get_flashed_messages() %}
                {% include '_alert-success.html' %}
            {% endfor %}
        {% endif %}
        <form action="" method="post" name="post">
            {{ form.hidden_tag() }}
            <table>
                <tr>
                    <td>Say something:</td>
                    <td>{{ form.post(size=50, maxlength=200) }}</td>
                    <td>
                        {% for e in form.post.errors %}
                            {% include '_alert-danger.html'%}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Post!"></td>
                    <td></td>
                </tr>
            </table>
        </form>
        <div class="row marketing">
            <div class="col-lg-12">
                {% for p in posts.items %}
                    {% include '_post.html' %}
                {% endfor %}

                {% if posts.has_prev %}<a href="{{ url_for('home', page=posts.prev_num) }}">&lt;&lt; Newer posts</a>
                {% else %}&lt;&lt; Newer posts {% endif %} |
                {% if posts.has_next %}<a href="{{ url_for('home', page=posts.next_num) }}">Older posts &gt;&gt;</a>
                {% else %}Older posts &gt;&gt;{% endif %}
            </div>
        </div>
    </div>
{% include '_footer.html' %}
{% endblock %}